<div *ngIf="factura" class="fondo">
        <div class="container">
            <form>
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                    <address>
                                                       <p><strong>Tienda Abuchaibe</strong></p>
                                                        <p>
                                                        <em>Cliente. {{factura.nombre_persona}} {{factura.apellido_persona}}</em>
                                                        </p>
                                                        <p>
                                                        <em>Identificacion. {{factura.id_persona}}</em>
                                                        </p><p>
                                                        <em>Telefono. {{factura.telefono}}</em>
                                                        </p>
                                                        <p>
                                                                        <em>Direccion. {{factura.direccion}}, {{factura.ciudad}}, {{factura.departamento}}</em>
                                                                    </p>
                                                    </address>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                                                    <p>
                                                        <em>N° Factura. {{factura.id}}</em>
                                                    </p>
                                                    <p>
                                                        <em>Fecha y hora: {{factura.fecha}}</em>
                                                    </p>
                                                    
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="text-center">
                                                    <h1>Detalles de compra</h1>
                                                </div>
                                                
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Product</th>
                                                            <th>#</th>
                                                            <th class="text-center">Price</th>
                                                            <th class="text-center">Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let facturadetalle of facturadetalles">
                                                            <td class="col-md-9"><em>{{facturadetalle.titulo_producto}}</em></td>
                                                            <td class="col-md-1" style="text-align: center"> {{facturadetalle.cantidad_producto}} </td>
                                                            <td class="col-md-1 text-center">${{facturadetalle.precio_producto}}</td>
                                                            <td class="col-md-1 text-center">{{facturadetalle.total_producto}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>   </td>
                                                            <td>   </td>
                                                            <td class="text-right"><h4><strong>Total: </strong></h4></td>
                                                            <td class="text-center text-danger"><h4><strong>${{total_general}}</strong></h4></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="grc">
                                                    <h1 class="text-center">
                                                        !Gracias por su compra!
                                                    </h1> 
                                                </div>
                                            </div>
                                        </div>
                                    
            </form>
       
        </div>
</div>

                