<nav class="navbar navbar-light bg-light">
         <div class="dropdown mr-auto texto-header">
                                        <button class="btn btn-outline-primary dropdown-toggle texto-header" type="button" data-toggle="dropdown">
                                                <img src="../../assets/images/filter.svg" class="mr-1 mb-1" height="15px" width="15px" alt="Filtro">Filtro
                                        </button>
                                                <div *ngFor="let categoria of categorias" class="dropdown-menu dropdown-menu-left">
                                                        <h6 class="dropdown-header">Categorias</h6>
                                                        <button (click)="buscarcategoria(categoria.id)" class="dropdown-item">{{categoria.nombre}}</button>
                                                       
                                        </div>
                </div>
        
                
        
              
</nav>
<a *ngIf="encabezado.isAuthenticated()" >
        <div  class="module producto">
                <a routerLink="/registro-producto"><h4><b>+ Añadir nuevo producto</b></h4></a>
        </div>
</a>

      <div class="grid grid-pad">
        <a *ngFor="let producto of encabezado.productos | filtroProducto:searchText; index as i"   class="col-md-4"
            >
          <div class="module producto">
                <div class="editar" routerLink="/editar-producto/{{producto.id}}"><img src="../../assets/images/edit.svg" class="minithumbnail" alt="edit"></div>
              <img  routerLink="/detalles/{{producto.id}}" src={{producto.imagen}} alt="Imagen no disponible" class="thumbnail" onerror="this.src='../../assets/images/NoDisponible.jpg'" >
                    <h3><b>Precio:</b>${{producto.precio}}</h3>
          </div>
          <h4>{{producto.titulo}}</h4>
        </a>
        
      </div>