<h6>Historial de compras</h6>
<table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Fecha pedido</th>
            <th scope="col">N° pedido</th>
            <th scope="col">Nombre producto</th>
            <th scope="col">Tipo producto</th>
            <th scope="col">Precio producto</th>
            <th scope="col">Cantidad</th>
            <th scope ="col">Factura</th>
          </tr>
        </thead>
        <tr scope="row">
          <td>12/12/2012</td>
          <td>12344</td>
          <td>Mouse hp</td>
          <td>negro</td>
          <td>25000</td>
          <td>1</td>
          <td><a href="#">ver factura</a></td>
        </tr>
      </table>