<img src="../../assets/images/logo-principal.jpg" width="1340" height="800">
<!-- Footer -->
<!-- Footer -->
<footer class="page-footer font-small blue bg-secondary pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">


    <!-- Grid row -->
    <div class="row">
        <div class="col-lg-4">
            <img src="../../assets/images/logoupc.png" width="350" height="120">
        </div>

      <!-- Grid column -->
      <div class="col-md-5">

        <!-- Content -->
        <h5 class="text-uppercase">Alumnos:</h5>
        <p>Diego Garces<br>
          Luis daza
        </p>
        
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3">

        <!-- Links -->
        <h5 class="text-uppercase">Docentes:</h5>

        <ul class="list-unstyled">
          <li>
            Anya Bolaños
          </li>
          <li>
            Amilkar Sierra
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"><p><strong>2019-2</strong></p> 
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
