
h5,li,p{
 color: white;
}
li,p{
  font-size: 2vw;
}
h1{
    font-size: 25px;
}
a{
   font-size: 15px; 
}
.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .thumbnail {
    position: relative;
    display: inline-block;
    max-width:100%;
    height:auto;
}
.carousel-item{
    height:100%;
}
.thumbnail:hover{
    cursor: pointer;
}
  
  .item {
    padding: 60px;
    width: 22%;
    background-color:whitesmoke;
  }
  [class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }
  a {
    text-decoration: none;
  }
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  h3 {
    text-align: right;
    transform: translate( 5%, -40% );
    font-size: 1vw;
    color: black;
  }
  h4 {
    position: relative;
    font-size: 2vw;
    color:gray;
  }
  .grid {
    margin: 0;
  }
  .col-1-4 {
    width: 25%;
  }
  .module {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    color: #eee;
    max-height: 300px;
    min-width: 300px;
    background-color:whitesmoke;
    border-radius: 2px;
  }
  .module:hover {
    background-color: #EEE;
    cursor: pointer;
    color: #607d8b;
  }
  .grid-pad {
    padding: 10px 0;
  }
  
  .grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
  }
  @media (max-width: 600px) {
    .module {
      font-size: 10px;
      max-height: 75px; }
  }
  @media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .module {
      min-width: 60px;
    }
  }