<strong><label *ngIf='producto' class="texto-categoria">Categorias><a href="#" class="texto-categoria">{{producto.categoria}}</a></label></strong>
<div *ngIf='producto'>
<div class="container">
<div class="row">
<div class="col-lg-4 c-imagen">
    <img src={{producto.imagen}} alt="Imagen no disponible" class="thumbnail img-rounded" onerror="this.src='../../assets/images/NoDisponible.jpg'">
</div>
<div class="col-lg-8">
    <h1>{{producto.titulo}}</h1><br>
   <h6>Vendido por nombre proveedor</h6><br>
    <h2 class="ml-3">Estilo/Color:</h2>
    <div class="grid grid-pad">
            <a class="col-md-4">
              <div class="module producto">
                   <h3>{{producto.tipo}}</h3>
              </div>
            </a>
          </div>
<div class="col-lg-12">
<h5>Precio: </h5><h4 class="ml-2"> ${{producto.precio}}</h4>
</div>
<div *ngIf="carro_compras" class="col-lg-12">
    <h5>Cantidad: </h5><input type="number" min="1" max="{{producto.cantidad}}" [(ngModel)]="carro_compras.cantidad"  class="formcontrol ml-2 cantidad-entrada" value="1" [formControl]="rateControl">
</div>
<div class="col-lg-12">
       <img src="../../assets/images/shopping-cart-2.svg" width="48px" height="48px" alt="carrito"> <button (click)="addcarro()" class="btn btn-outline-success ml-2">Añadir al carrito</button>
</div>
</div>
</div>
<div class="row">
    <div class="col-lg-11">
    <h1>Descripcion del articulo</h1><br>
    <p>{{producto.descripcion}}</p>
</div>
</div>
</div>


  </div>
