<div>
    


<a href=""></a>
<div class="container">
	<form>
		<div class="form-group">
			<label>Nombres</label>
			<input type="text" class="form-control" placeholder="Juan Aledaño"  name="nombres" id="nombres" [(ngModel)]="persona.nombre">

		</div>
		<div class="form-group">
			<label>Apellidos</label>
			<input type="text" class="form-control" placeholder="Garcia Espinosa"  name="apellidos" id="apellidos" [(ngModel)]="persona.apellido">

		</div>
		
		

		<div class="form-group">
			<label>identificacion</label>
			<input type="text" class="form-control" id="identificacion" name="identificacion" placeholder="1065544433" [(ngModel)]="persona.id">
		</div>


    
    <div class="form-group" id="result"></div>
		
        <div class="form-group">
		<label>seleccione departameto</label>
		<select  (change)="buscarciudad(persona.id_departamento)" [(ngModel)]="persona.id_departamento"  name="departamento" class="form-control" id="departamento" title="departamento">
			<option *ngFor="let departamento of departamentos" value="{{departamento.id}}"  id="departamento">{{departamento.nombre}}</option>
		</select>
		</div>
		
		<div class="form-group">
		<label>seleccione ciudad</label>
		<select *ngFor="let ciudad of ciudades" value="{{ciudad.id}}" [(ngModel)]="persona.id_ciudad" name="ciudad" class="form-control" id="ciudad" title="ciudad">
			<option value="{{ciudad.id}}">{{ciudad.nombre}}</option>
			
		</select>
		</div>
		<br> 

		<div class="form-group">
			<label>Direccion</label>
			<input type="text" class="form-control" name="Usuario" id="Usuario" placeholder="Calle 11 #12-22" [(ngModel)]="persona.direccion"> 
			</div>


        <div class="form-group">
		<label>Correo electronico</label>
		<input type="text" class="form-control" name="Usuario" id="Usuario" placeholder="Ejemplo@gmail.com" [(ngModel)]="persona.email">
		</div>
		
		<div class="form-group">
			<label>Telefono</label>
			<input type="text" class="form-control" name="Usuario" id="Usuario" placeholder="542342" [(ngModel)]="persona.telefono">
			</div>

        <div class="form-group">
		<label>Contraseña</label>
		<input type="Password" class="form-control" name="Contraseña" id="Contraseña" placeholder="Digite su contraseña">
		<input type="Password" class="form-control" name="Contraseña" id="Contraseña" placeholder="Repetir contraseña" [(ngModel)]="persona.password">
		
	</div>
		

		<button class="btn btn-primary" (click)="add()">Registrarse</button>


	</form>
</div>

</div>