<div>
    


<a href=""></a>
<div class="container">
	<form>
		<div class="form-group">
			<label>Nombre completo</label>
			<input type="text" class="form-control" placeholder="Juan garcia Rodriguez"  name="nombres" id="nombres">

		</div>
		

		<div class="form-group">
			<label>identificacion</label>
			<input type="text" class="form-control" id="identificacion" name="identificacion" placeholder="1065544433">
		</div>



		

		

		<div class="form-group" >
		<label>fecha de nacimiento</label>
		

	<input type="date" class="form-control" name="user_date" id="user_date" />
   		 </div>
  
    
    <div class="form-group" id="result"></div>
		


 

		




        <div class="form-group">
		<label>seleccione departameto</label>
		<select name="departamento" class="form-control" id="departamento" title="departamento">
			<option id="departamento">Cesar</option>
			<option id="departamento">Guajira</option>
			<option id="departamento">atlantico</option>
		</select>
		</div>
		




		<div class="form-group">
		<label>seleccione ciudad</label>
		<select name="ciudad" class="form-control" id="ciudad" title="ciudad">
			<option>Valledupar</option>
			<option>Riohacha</option>
			<option>Barranquilla</option>
		</select>
		</div>
		<br> 




        <div class="form-group">
		<label>Correo electronico</label>
		<input type="text" class="form-control" name="Usuario" id="Usuario" placeholder="Ejemplo@gmail.com">
		</div>
		




        <div class="form-group">
		<label>Contraseña</label>
		<input type="Password" class="form-control" name="Contraseña" id="Contraseña" placeholder="Digite su contraseña">
		<input type="Password" class="form-control" name="Contraseña" id="Contraseña" placeholder="Repetir contraseña">
		
	</div>
		

		<button class="btn btn-primary">Registrarse</button>


	</form>
</div>

</div>