<div class="container">
    <form>
            <div class="form-group">
                    <label>Imagen producto </label><br>
                    <input type="file">
                </div>
                <div class="form-group">
                        <label>Nombre producto</label>
                        <input type="text" class="form-control" name="nombre">
                    </div>
                    <div class="form-group">
                            <label>Precio</label>
                            <input type="number" class="form-control" name="precio">
                        </div>
                        <div class="form-group">
                                <label>Tipo/color</label>
                                <input type="text" class="form-control" name="color">
                            </div>
                            <div class="form-group">
                                    <label>Categoria</label>
                                    <select class="form-control" name="categoria"><option value="nuevo">Nueva categoria</option></select>
                                </div>
                             <div class="form-group">
                                        <label>Grupo</label>
                                        <select class="form-control" name="categoria"><option value="nuevo">Nuevo subgrupo</option></select>
                               </div>
                    <div class="form-group">
                            <label>Descripcion de producto</label>
                            <textarea class="form-control" rows="8" id="comment"></textarea>
                        </div>
                        <button class="btn btn-primary mr-3">Limpiar</button><button class="btn btn-primary">Registrar</button>
    </form>
</div>
    
    
